- Exercici 1 

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

- Exercici 2 

Fes un informe complet del data set:.

    + Resumeix estadísticament les columnes d’interès
    + Troba quantes dades faltants hi ha per columna
    + Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    + Taula de les aerolínies amb més endarreriments acumulats
    + Quins són els vols més llargs? I els més endarrerits?
    + Etc. 

- Exercici 3 

Exporta el data set net i amb les noves columnes a Excel.

### Exercici 1

In [55]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = None
pd.options.display.max_rows = 100

data = pd.read_csv('DelayedFlights.csv')

In [56]:
data.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,N763SW,240.0,250.0,230.0,57.0,67.0,IND,LAS,1591,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,100,N690SW,130.0,135.0,106.0,1.0,6.0,IND,MCO,828,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,N334SW,121.0,135.0,107.0,80.0,94.0,IND,MCO,828,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,N263WN,52.0,50.0,37.0,11.0,9.0,IND,MDW,162,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,N286WN,228.0,240.0,213.0,15.0,27.0,IND,PHX,1489,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [58]:
data_rel = data[['FlightNum','UniqueCarrier','Month','DepTime','CRSDepTime','ArrTime','CRSArrTime','ActualElapsedTime','CRSElapsedTime','AirTime','Origin','Dest','Distance']]

In [59]:
data_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   FlightNum          int64
 1   UniqueCarrier      object
 2   Month              int64
 3   DepTime            float64
 4   CRSDepTime         int64
 5   ArrTime            float64
 6   CRSArrTime         int64
 7   ActualElapsedTime  float64
 8   CRSElapsedTime     float64
 9   AirTime            float64
 10  Origin             object
 11  Dest               object
 12  Distance           int64
dtypes: float64(5), int64(5), object(3)
memory usage: 192.1+ MB

### Exercici 2

In [60]:
data_rel.head(10)

,FlightNum,UniqueCarrier,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,Origin,Dest,Distance
0,335,WN,1,2003.0,1955,2211.0,2225,128.0,150.0,116.0,IAD,TPA,810
1,3231,WN,1,754.0,735,1002.0,1000,128.0,145.0,113.0,IAD,TPA,810
2,448,WN,1,628.0,620,804.0,750,96.0,90.0,76.0,IND,BWI,515
3,3920,WN,1,1829.0,1755,1959.0,1925,90.0,90.0,77.0,IND,BWI,515
4,378,WN,1,1940.0,1915,2121.0,2110,101.0,115.0,87.0,IND,JAX,688
5,509,WN,1,1937.0,1830,2037.0,1940,240.0,250.0,230.0,IND,LAS,1591
6,100,WN,1,706.0,700,916.0,915,130.0,135.0,106.0,IND,MCO,828
7,1333,WN,1,1644.0,1510,1845.0,1725,121.0,135.0,107.0,IND,MCO,828
8,2272,WN,1,1029.0,1020,1021.0,1010,52.0,50.0,37.0,IND,MDW,162
9,675,WN,1,1452.0,1425,1640.0,1625,228.0,240.0,213.0,IND,PHX,1489

In [61]:
#Núm de missing values per columna
data_rel.isnull().sum()

FlightNum               0
UniqueCarrier           0
Month                   0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
Origin                  0
Dest                    0
Distance                0
dtype: int64

In [62]:
#Substituir missing values per 0 i convertir columnes a int

In [63]:
data_rel['ArrTime'] = data_rel['ArrTime'].fillna(0.0).astype(int)
data_rel['ActualElapsedTime'] = data_rel['ActualElapsedTime'].fillna(0.0).astype(int)
data_rel['CRSElapsedTime'] = data_rel['CRSElapsedTime'].fillna(0.0).astype(int)
data_rel['AirTime'] = data_rel['AirTime'].fillna(0.0).astype(int)
data_rel['DepTime'] = data_rel['DepTime'].astype(int)

<ipython-input-63-fd4ffb7b7628>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['ArrTime'] = data_rel['ArrTime'].fillna(0.0).astype(int)
<ipython-input-63-fd4ffb7b7628>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['ActualElapsedTime'] = data_rel['ActualElapsedTime'].fillna(0.0).astype(int)
<ipython-input-63-fd4ffb7b7628>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['CRSElapsedTime'] = data_rel['CRSElapsedTime'].fillna(0.0).astype(int)
<ipython-input-63-fd4ffb7b7628>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['AirTime'] = data_rel['AirTime'].fillna(0.0).astype(int)
<ipython-input-63-fd4ffb7b7628>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['DepTime'] = data_rel['DepTime'].astype(int)

In [64]:
data_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   FlightNum          int64
 1   UniqueCarrier      object
 2   Month              int64
 3   DepTime            int64
 4   CRSDepTime         int64
 5   ArrTime            int64
 6   CRSArrTime         int64
 7   ActualElapsedTime  int64
 8   CRSElapsedTime     int64
 9   AirTime            int64
 10  Origin             object
 11  Dest               object
 12  Distance           int64
dtypes: int64(10), object(3)
memory usage: 192.1+ MB

In [65]:
data_rel.head(10)

,FlightNum,UniqueCarrier,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,Origin,Dest,Distance
0,335,WN,1,2003,1955,2211,2225,128,150,116,IAD,TPA,810
1,3231,WN,1,754,735,1002,1000,128,145,113,IAD,TPA,810
2,448,WN,1,628,620,804,750,96,90,76,IND,BWI,515
3,3920,WN,1,1829,1755,1959,1925,90,90,77,IND,BWI,515
4,378,WN,1,1940,1915,2121,2110,101,115,87,IND,JAX,688
5,509,WN,1,1937,1830,2037,1940,240,250,230,IND,LAS,1591
6,100,WN,1,706,700,916,915,130,135,106,IND,MCO,828
7,1333,WN,1,1644,1510,1845,1725,121,135,107,IND,MCO,828
8,2272,WN,1,1029,1020,1021,1010,52,50,37,IND,MDW,162
9,675,WN,1,1452,1425,1640,1625,228,240,213,IND,PHX,1489

In [66]:
#Resum estadístic de les columnes
data_rel.describe().apply(lambda s: s.apply('{0:.3f}'.format))

,FlightNum,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,Distance
count,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000
mean,2184.263,6.111,1518.534,1467.473,1604.230,1634.225,132.729,134.289,107.808,765.686
std,1944.702,3.483,450.485,424.767,555.769,464.635,72.435,71.351,68.862,574.480
min,1.000,1.000,1.000,0.000,0.000,0.000,0.000,-25.000,0.000,11.000
25%,610.000,3.000,1203.000,1135.000,1313.000,1325.000,80.000,82.000,58.000,338.000
50%,1543.000,6.000,1545.000,1510.000,1714.000,1705.000,116.000,116.000,90.000,606.000
75%,3422.000,9.000,1900.000,1815.000,2030.000,2014.000,165.000,165.000,137.000,998.000
max,9742.000,12.000,2400.000,2359.000,2400.000,2400.000,1114.000,660.000,1091.000,4962.000

In [67]:
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

#Velocitat mitjana de vol (milles per hora)
data_rel['Vel_mitjana_vol(mi/h)'] = ((data_rel['Distance']/data_rel['ActualElapsedTime'])*60).round(2)

#Minuts de retard
data_rel['Retard(min)'] = data_rel['ArrTime'] - data_rel['CRSArrTime']
data_rel['Retard(min)'] = data_rel['Retard(min)'].apply(lambda x: "0" if x < 0 else x).astype(int)

<ipython-input-67-1e2cb9eba727>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['Vel_mitjana_vol(mi/h)'] = ((data_rel['Distance']/data_rel['ActualElapsedTime'])*60).round(2)
<ipython-input-67-1e2cb9eba727>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['Retard(min)'] = data_rel['ArrTime'] - data_rel['CRSArrTime']
<ipython-input-67-1e2cb9eba727>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_rel['Retard(min)'] = data_rel['Retard(min)'].apply(lambda x: "0" if x < 0 else x).astype(int)

In [68]:
data_rel.head(10)

,FlightNum,UniqueCarrier,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,Origin,Dest,Distance,Vel_mitjana_vol(mi/h),Retard(min)
0,335,WN,1,2003,1955,2211,2225,128,150,116,IAD,TPA,810,379.69,0
1,3231,WN,1,754,735,1002,1000,128,145,113,IAD,TPA,810,379.69,2
2,448,WN,1,628,620,804,750,96,90,76,IND,BWI,515,321.88,54
3,3920,WN,1,1829,1755,1959,1925,90,90,77,IND,BWI,515,343.33,34
4,378,WN,1,1940,1915,2121,2110,101,115,87,IND,JAX,688,408.71,11
5,509,WN,1,1937,1830,2037,1940,240,250,230,IND,LAS,1591,397.75,97
6,100,WN,1,706,700,916,915,130,135,106,IND,MCO,828,382.15,1
7,1333,WN,1,1644,1510,1845,1725,121,135,107,IND,MCO,828,410.58,120
8,2272,WN,1,1029,1020,1021,1010,52,50,37,IND,MDW,162,186.92,11
9,675,WN,1,1452,1425,1640,1625,228,240,213,IND,PHX,1489,391.84,15

In [69]:
data_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   FlightNum              int64
 1   UniqueCarrier          object
 2   Month                  int64
 3   DepTime                int64
 4   CRSDepTime             int64
 5   ArrTime                int64
 6   CRSArrTime             int64
 7   ActualElapsedTime      int64
 8   CRSElapsedTime         int64
 9   AirTime                int64
 10  Origin                 object
 11  Dest                   object
 12  Distance               int64
 13  Vel_mitjana_vol(mi/h)  float64
 14  Retard(min)            int64
dtypes: float64(1), int64(11), object(3)
memory usage: 221.6+ MB

In [70]:
#Taula de les aerolínies amb més endarreriments acumulats
aero_retard = data_rel[['UniqueCarrier','Retard(min)']].groupby('UniqueCarrier').sum().sort_values(by=('Retard(min)'), ascending=False)
aero_retard

               Retard(min)
UniqueCarrier
WN                17003013
AA                12790502
UA                10123034
MQ                 9867691
OO                 9349940
XE                 7739732
DL                 6894075
EV                 6113335
CO                 5857113
YV                 5602864
US                 5551591
NW                 4935343
FL                 4456318
OH                 4122298
B6                 3991190
9E                 3894579
AS                 2188906
F9                 1141289
HA                  346275
AQ                   25257

In [71]:
#Quins són els vols més llargs? 
#Per milles
vol_llarg_milles = data_rel[['FlightNum','Origin','Dest','Distance']].groupby(['FlightNum','Origin','Dest']).max().sort_values(by=('Distance'), ascending=False).head(50)
vol_llarg_milles

                       Distance
FlightNum Origin Dest
14        HNL    EWR       4962
15        EWR    HNL       4962
1560      HNL    ATL       4502
1561      ATL    HNL       4502
1282      HNL    ATL       4502
1273      ATL    HNL       4502
850       HNL    ATL       4502
851       ATL    HNL       4502
72        HNL    ORD       4243
2         HNL    ORD       4243
1         ORD    HNL       4243
1410      HNL    ORD       4243
73        ORD    HNL       4243
3         KOA    ORD       4213
1003      KOA    ORD       4213
          ORD    OGG       4184
3         ORD    OGG       4184
809       MSP    HNL       3972
624       HNL    MSP       3972
808       HNL    MSP       3972
625       MSP    HNL       3972
2         HNL    IAH       3904
1         IAH    HNL       3904
73        IAH    HNL       3904
72        HNL    IAH       3904
102       HNL    DFW       3784
8         HNL    DFW       3784
123       DFW    HNL       3784
5         DFW    HNL       3784
6         OGG    DFW       3711
7         DFW    OGG       3711
1414      ANC    ATL       3417
1014      ANC    ATL       3417
1039      ATL    ANC       3417
862       ATL    ANC       3417
1589      ATL    ANC       3417
1041      DEN    LIH       3414
1015      DEN    LIH       3414
1016      LIH    DEN       3414
1040      LIH    DEN       3414
238       LAX    SJU       3386
239       SJU    LAX       3386
254       LAX    SJU       3386
285       SJU    LAX       3386
43        DEN    HNL       3365
42        HNL    DEN       3365
1053      DEN    KOA       3329
1052      KOA    DEN       3329
1055      DEN    OGG       3303
1054      OGG    DEN       3303

In [72]:
#Per temps de vol
vol_llarg_temps = data_rel[['FlightNum','Origin','Dest','AirTime']].groupby(['FlightNum','Origin','Dest']).max().sort_values(by=('AirTime'), ascending=False).head(50)
vol_llarg_temps

                       AirTime
FlightNum Origin Dest
21        SEA    HNL      1091
28        HNL    SEA       733
15        EWR    HNL       664
851       ATL    HNL       609
1273      ATL    HNL       607
192       LAS    JFK       595
14        HNL    EWR       583
7         LAS    HNL       577
1561      ATL    HNL       570
73        ORD    HNL       567
91        JFK    OAK       561
3         ORD    OGG       549
1         ORD    HNL       548
626       HOU    JFK       542
809       MSP    HNL       534
850       HNL    ATL       527
1282      HNL    ATL       526
1003      ORD    OGG       524
1560      HNL    ATL       523
73        IAH    HNL       519
625       MSP    HNL       517
123       DFW    HNL       516
1         IAH    HNL       512
2         HNL    IAH       511
102       HNL    DFW       509
5         DFW    HNL       507
7         DFW    OGG       506
6         OGG    DFW       506
72        HNL    ORD       494
38        OGG    SAN       490
72        HNL    IAH       481
2         HNL    ORD       480
3         KOA    ORD       474
1015      DEN    LIH       468
43        DEN    HNL       465
285       SJU    LAX       464
8         HNL    LAS       463
808       HNL    MSP       459
1055      DEN    OGG       458
1039      ATL    ANC       457
1003      KOA    ORD       456
71        DEN    OGG       452
239       SJU    LAX       451
1410      HNL    ORD       451
3         LAX    HNL       449
624       HNL    MSP       448
1053      DEN    KOA       448
8         HNL    DFW       447
26        HNL    PDX       446
862       ATL    ANC       444

In [73]:
#I els més endarrerits?
vols_endarrerits = data_rel[['FlightNum','Origin','Dest','Retard(min)']].groupby(['FlightNum','Origin','Dest']).max().sort_values(by=('Retard(min)'), ascending=False).head(50)
vols_endarrerits

                       Retard(min)
FlightNum Origin Dest
220       SFO    IAD          2399
2696      CLT    EWR          2399
152       SFO    ORD          2399
1801      CLT    PBI          2399
959       CLT    FLL          2399
17        ATL    SEA          2398
6246      ORD    SDF          2397
2611      CLT    IAH          2397
5497      SFO    ACV          2397
1518      CLT    BDL          2397
512       FLL    EWR          2397
369       LAS    MDW          2395
11        JFK    FLL          2395
1747      PHX    BNA          2395
1366      DFW    JAX          2395
2793      TPA    BWI          2395
61        LAS    MHT          2395
3341      LAX    SLC          2395
982       LAS    AUS          2395
428       PHX    OKC          2395
1586      CLT    PHL          2395
808       PHX    IND          2395
199       LAS    MHT          2395
1125      MIA    LAX          2395
2426      SJC    DFW          2390
1468      LAS    RDU          2390
406       LAX    JFK          2388
1577      CLT    MIA          2386
2001      LAX    MCI          2385
1496      LAS    TPA          2385
2791      LAS    MHT          2385
270       DEN    PHL          2381
2892      SEA    MDW          2380
1074      LAX    MCI          2380
3326      LAS    PHL          2380
14        SFO    JFK          2378
6359      JFK    ATL          2377
1754      EWR    PBI          2358
1108      DTW    RSW          2358
827       ORD    DSM          2358
5782      LAX    SGU          2358
704       SJU    JFK          2358
1315      JFK    IAD          2358
1486      IAH    MCO          2357
1218      DEN    IAD          2357
818       ORD    EWR          2357
3123      IAH    MSY          2357
706       DEN    OMA          2356
785       CLT    LAS          2356
448       TPA    BOS          2356

In [82]:
#Exercici 3
#Exportar a excel
#Com el df te més files de les que accepta Excel, anem a exportar només les 10 000 primeres
data_rel[:10000].to_excel("data_neta.xlsx")